---
import type { GetStaticPaths } from 'astro'
import Layout from '~/layouts/Layout.astro'
import { getSeriesData } from '~/utils'
import PageHeader from '~/components/PageHeader.astro'
import PostPreview from '~/components/PostPreview.astro'

export const getStaticPaths = (async () => {
  const seriesData = await getSeriesData()
  return Object.entries(seriesData).map(([series, seriesPosts]) => {
    return {
      params: { series },
      props: { posts: seriesPosts },
    }
  })
}) satisfies GetStaticPaths

const { posts } = Astro.props
const series = Astro.params.series
const title = `Series: ${series}`
---

<Layout title={title} description={`All posts in the ${series} series`}>
  <div class="mt-2 sm:mt-0">
    <PageHeader>{series}</PageHeader>
    {posts.map((post) => <PostPreview post={post} />)}
  </div>
</Layout>
