---
import Layout from '../layouts/Layout.astro'
import { getCollection, getEntry } from 'astro:content'
import { dateString } from '@utils'

let posts = await getCollection('posts')
let postUrl = (post: (typeof posts)[number]) => `/posts/${post.id}`
---

<Layout>
  {
    posts.map((post) => (
      <article class="w-full py-7.5">
        <h2
          class:list={[
            'relative text-xl text-accent mb-3 pb-4 border-b-3 border-dotted border-accent',
            'after:absolute after:bottom-0.5 after:block after:content-normal after:w-full after:border-b-accent after:border-b-3 after:border-dotted',
          ]}
        >
          <a href={postUrl(post)}>{post.data.title}</a>
        </h2>
        <div class="text-foreground/65">
          <time>{dateString(post.data.published)}</time>
          {post.data.author && (
            <span class="before:content-['::'] before:inline-block before:mx-0.5">
              {post.data.author}
            </span>
          )}
        </div>
        <p class="my-6 text-foreground">
          {post.data.description ? post.data.description : ''}
        </p>
        {post.data.tags && (
          <div class="text-accent mb-5">
            {post.data.tags.map((tag) => (
              <a class="underline mr-4 inline-block" href={`/tags/${tag}`}>
                #{tag}
              </a>
            ))}
          </div>
        )}
        <div class="text-accent">
          <a href={postUrl(post)}>[Read More]</a>
        </div>
      </article>
    ))
  }
</Layout>
