---
import Layout from '@layouts/Layout.astro'
import { getCollection, getEntry } from 'astro:content'
import { dateString } from '@utils'
import PostExcerpt from '@igor.dvlpr/astro-post-excerpt'

let postsContent = await getCollection('posts')
let postUrl = (post: (typeof postsContent)[number]) => `/posts/${post.id}`
let homeContent = await getCollection('home')
---

<Layout>
  {
    homeContent.map(
      (home) =>
        home.body && (
          <div
            class:list={[
              'my-4 p-5 max-w-full prose',
              home.data.framed && 'border-1 border-accent',
            ]}
            set:html={home.rendered?.html}
          />
        ),
    )
  }
  {
    postsContent.map((post) => (
      <article class="w-full py-7.5">
        <h2
          class:list={[
            'relative text-lg text-accent mb-3 pb-4 border-b-3 border-dotted border-accent font-bold',
            'after:absolute after:bottom-0.5 after:block after:content-normal after:w-full after:border-b-accent after:border-b-3 after:border-dotted',
          ]}
        >
          <a href={postUrl(post)}>{post.data.title}</a>
        </h2>
        <div class="text-foreground/65">
          <time>{dateString(post.data.published)}</time>
          {post.data.author && (
            <span class="before:content-['::'] before:inline-block before:mx-0.5">
              {post.data.author}
            </span>
          )}
        </div>
        <p class="my-4 text-foreground">
          {post.data.description ? post.data.description : <PostExcerpt post={post} />}
        </p>
        {post.data.tags && (
          <div class="text-accent mb-5">
            {post.data.tags.map((tag) => (
              <a class="underline mr-4 inline-block" href={`/tags/${tag}`}>
                #{tag}
              </a>
            ))}
          </div>
        )}
        <div class="text-accent">
          <a class="inline-block border-1 border-accent/70 p-2" href={postUrl(post)}>
            Read More
          </a>
        </div>
      </article>
    ))
  }
</Layout>

<style is:global>
  a.anchor {
    display: none !important;
  }
</style>
