---
import type { NavLink } from '@types' 
import { Icon } from 'astro-icon/components'
import siteConfig from '../site.config'


const links: NavLink[] = [
  { name: 'Home', url: '/' },
  { name: 'Archive', url: '/posts' },
]
---

<header>
  <div class="relative flex items-center justify-center bg-accent/10 rounded-xl">
    <a
      id="logo"
      href="/"
      class="block px-4 py-1.5 max-w-full no-underline items-center bg-accent text-background font-bold rounded-xl"
    >
      Terminal
    </a>
    <button id="theme-change-button" class="block ml-auto mr-3">
      <Icon name="palette" class="size-6 text-[var(--theme-accent)]">
    </button>
    <ul
        id="theme-change-list"
        class="invisible absolute flex flex-col bg-background shadow text-accent border-2 m-0 p-2.5 top-11.5 left-auto right-0 z-50 rounded-xl"
      >
        {
          siteConfig.themeConfigs.map((themeConfig) => (
            <li class="p-1" aria-expanded="false">
              <button data-theme={themeConfig.theme}>
                {themeConfig.name}
              </button>
            </li>
          ))
        }
      </ul>
    <nav id="nav-mobile" aria-label="Menu" class="p-0 text-accent sm:hidden">
      <button
        id="nav-mobile-button"
        class="px-3 py-1 h-full cursor-pointer border-2 rounded-xl bg-background"
        type="button"
        aria-expanded="false"
        aria-controls="nav-menu-list"
      >
        ▾
      </button>
      <ul
        id="nav-mobile-list"
        class="invisible absolute flex flex-col bg-background shadow text-accent border-2 m-0 p-2.5 top-11.5 left-auto right-0 z-50 rounded-xl"
      >
        {
          links.map((link) => (
            <li class="p-1" aria-expanded="false">
              <a class="underline" href={link.url}>
                {link.name}
              </a>
            </li>
          ))
        }
      </ul>
    </nav>
  </div>
  <nav aria-label="Menu" class="p-0 mt-4 ml-0.5 text-accent hidden sm:block">
    <ul class="flex flex-row bg-background text-accent mb-2.5">
      {
        links.map((link) => (
          <li class="mr-5" aria-expanded="true">
            <a class="underline" href={link.url}>
              {link.name}
            </a>
          </li>
        ))
      }
    </ul>
  </nav>
</header>

<script>
  let navMobileButton = document.getElementById('nav-mobile-button')
  let navMobileList = document.getElementById('nav-mobile-list')
  let navMobileListItems = navMobileList?.querySelectorAll('li')
  let toggleNavMobileMenu = (action: "on" | "off" | "toggle") => {
    let isNowOpen: boolean = false
    if (action === 'on') {
      isNowOpen = true
      navMobileList?.classList.remove('invisible')
    } else if (action === 'off') {
      isNowOpen = false
      navMobileList?.classList.add('invisible')
    } else {
      isNowOpen = !navMobileList?.classList.toggle('invisible')
    }
    navMobileButton?.setAttribute('aria-expanded', isNowOpen ? 'true' : 'false')
    navMobileListItems?.forEach((listItem) => {
      listItem.setAttribute('aria-expanded', isNowOpen ? 'true' : 'false')
    })
  }
  let themeChangeButton = document.getElementById('theme-change-button')
  let themeChangeList = document.getElementById('theme-change-list')
  let themeChangeListItems = themeChangeList?.querySelectorAll('li')
  let toggleThemeChangeMenu = (action: "on" | "off" | "toggle") => {
    let isNowOpen: boolean = false
    if (action === 'on') {
      isNowOpen = true
      themeChangeList?.classList.remove('invisible')
    } else if (action === 'off') {
      isNowOpen = false
      themeChangeList?.classList.add('invisible')
    } else {
      isNowOpen = !themeChangeList?.classList.toggle('invisible')
    }
    themeChangeButton?.setAttribute('aria-expanded', isNowOpen ? 'true' : 'false')
    themeChangeListItems?.forEach((listItem) => {
      listItem.setAttribute('aria-expanded', isNowOpen ? 'true' : 'false')
    })
  }

  navMobileButton?.addEventListener('click', (_ev) => {
    toggleThemeChangeMenu('off') // Close theme change menu if open
    toggleNavMobileMenu('toggle')
  })
  themeChangeButton?.addEventListener('click', (_ev) => {
    toggleNavMobileMenu('off') // Close mobile menu if open
    toggleThemeChangeMenu('toggle')
  })

  let themeChangeButtons = themeChangeList?.querySelectorAll('button')
  themeChangeButtons?.forEach((button) => {
    button.addEventListener('click', (ev) => {
      ev.preventDefault()
      let theme = button.getAttribute('data-theme')
      if (theme) {
        document.documentElement.setAttribute('data-theme', theme)
        toggleThemeChangeMenu('off') // Close menu after selection
      }
    })
  })
</script>
