---
import { Image } from 'astro:assets'
import GitHubActivityCalendar from '~/components/GitHubActivityCalendar.astro'
import type { FrontmatterImage } from '~/types'
import IconHome from '~/icons/home.svg'
import IconLinkedin from '~/icons/linkedin-color.svg'
import IconGithub from '~/icons/github-color.svg'
import siteConfig from '~/site.config'

interface Props {
  avatarImage?: FrontmatterImage
  githubCalendar?: string
}
const { avatarImage, githubCalendar } = Astro.props
---

<div class="my-6 md:mx-2">
  <div
    class="flex flex-col sm:flex-row items-center max-w-full mb-6"
  >
    {
      avatarImage && (
        <Image
          priority
          src={avatarImage.src}
          alt={avatarImage.alt}
          class="rounded-full border-8 border-accent/15 size-44 aspect-square"
          height={400}
          width={400}
        />
      )
    }
    <div class="w-full">
      <div class:list={['m-0 lg:m-4 max-w-full']}>
        <div class="ml-2">
          <h1 class="text-accent text-3xl font-bold text-center lg:text-start mt-5 lg:mt-0"># Hi I'm <span class="ml-1 bg-accent text-background px-2">Haris</span>, <span class="opacity-60 text-2xl">I'm Educator & Full Stack Developer</span></h1>
        </div>
        <div class="flex mt-8 flex-col lg:flex-row lg:justify-between items-center">

          <div class="flex gap-2 items-center justify-center lg:justify-start"><IconHome class="size-5" /> Karawang,Indonesia </div>
          
          <div class="flex justify-center lg:justify-end gap-10 mt-4 lg:mt-0">
            <a target="_blank" href={siteConfig.socialLinks.linkedin} class="flex items-center gap-2 group">
              <IconLinkedin class="size-5"/> <span class="group-hover:text-accent">Linkedin</span>
            </a>
            <a target="_blank" href={siteConfig.socialLinks.github} class="flex items-center gap-2 group">
              <IconGithub class="size-5"/> <span class="group-hover:text-accent">Github</span>
            </a>
          </div>

        </div>
      </div>
    </div>
  </div>
  {githubCalendar && <GitHubActivityCalendar username={githubCalendar} />}
</div>
