---
import PostExcerpt from '@igor.dvlpr/astro-post-excerpt'
import { dateString, url } from '@utils'
import type { CollectionEntry } from 'astro:content'

interface Props {
  post: CollectionEntry<'posts'>
}

const { post } = Astro.props
---

<article
  class:list={[
    'w-full py-5 my-4 border-accent/10',
    // 'border-1'
  ]}
>
  <h1
    class:list={[
      'relative mb-3 text-2xl text-[var(--theme-h1)] font-semibold',
      // 'border-b-3 border-dotted border-accent',
      // 'after:absolute after:bottom-0.5 after:block after:content-normal after:w-full after:border-b-accent after:border-b-3 after:border-dotted',
    ]}
  >
    <a href={url('posts', post.id)}># {post.data.title}</a>
  </h1>
  <div class="text-foreground/80">
    <time>{dateString(post.data.published)}</time>
    {
      post.data.author && (
        <span class="before:content-['::'] before:inline-block before:mx-0.5">
          {post.data.author}
        </span>
      )
    }
  </div>
  <p class="my-4 text-foreground">
    {post.data.description ? post.data.description : <PostExcerpt post={post} />}
  </p>
  {
    post.data.tags && (
      <div class="text-accent mb-5">
        {post.data.tags.map((tag) => (
          <a class="underline mr-4 inline-block" href={url('tags', tag)}>
            #{tag}
          </a>
        ))}
      </div>
    )
  }
  <div class="text-accent">
    <a class="inline-block border-1 border-dashed border-accent/70 p-2" href={url('posts', post.id)}>
      Read More
    </a>
  </div>
</article>
